@charset "UTF-8";
ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

img {
  max-width: 100%; }

@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #3d3d3d;
  font-size: 13px;
  line-height: 16px;
  font-family: "Arial"; }

.body-wrap {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -147px;
  background: #D3D8DD;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  width: 100%; }

.main {
  padding-top: 76px; }
  @media only screen and (max-width: 991px) {
    .main {
      padding-top: 66px; } }
  @media only screen and (max-width: 767px) {
    .main {
      padding-top: 86px; } }

.push {
  height: 147px; }

.overlay {
  background: rgba(22, 73, 137, 0.3882352941);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background: url("../img/icon-down-select-12.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  background-size: 8px 5px; }
  select.select-icon-up {
    background: url("../img/icon-up-select-12.svg") no-repeat;
    background-position: center right 16px;
    background-size: 8px 5px; }

.zone-white {
  background: #fff;
  overflow: hidden;
  border-radius: 6px;
  height: 100%;
  min-height: 577px; }
  @media only screen and (max-width: 767px) {
    .zone-white {
      min-height: auto; } }

.title-notice {
  font-size: 14px;
  font-weight: 700;
  color: #164989;
  margin-bottom: 0; }

.view-detail {
  color: #164989; }
  .view-detail:hover {
    text-decoration: underline; }

.title-profile {
  margin-bottom: 11px;
  font-size: 13px; }

label.error {
  color: #ED1111;
  padding-top: 5px;
  padding-left: 24px;
  background: url(../img/icon-checkvalidate.svg) no-repeat top 4px left;
  background-size: 16px;
  margin-bottom: 0; }

.modal.modal-vsd {
  padding-right: 0 !important;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999; }
  .modal.modal-vsd .size-modal {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .modal.modal-vsd .size-modal-word {
    max-width: 679px;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.size-modal-big {
  max-width: 923px;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.mdl-header {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .mdl-header .heading-popup {
    color: #164989;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0; }
  .mdl-header .btn-close {
    cursor: pointer;
    padding: 5px 8px; }
    .mdl-header .btn-close img {
      width: 8px;
      height: 8px; }

.mdl-main {
  padding: 0px 30px 30px; }
  .mdl-main .feedback-user .user-content-fb {
    border-radius: 4px; }
  .mdl-main .feedback-admin .admin-content-fb {
    border-radius: 4px; }

.mdl-footer {
  padding: 10px 18px 22px;
  text-align: right; }
  .mdl-footer .form-send-feedback {
    text-align: right; }
    .mdl-footer .form-send-feedback input {
      width: 100%;
      border: 1px solid #cecece;
      border-radius: 3px;
      height: 35px;
      padding: 9px 19px;
      margin-bottom: 21px; }
      .mdl-footer .form-send-feedback input::-webkit-input-placeholder {
        /* Edge */
        font-style: italic;
        color: #768289; }
      .mdl-footer .form-send-feedback input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-style: italic;
        color: #768289; }
      .mdl-footer .form-send-feedback input::placeholder {
        font-style: italic;
        color: #768289; }

.modal.modal-vsd.popup-main .size-modal {
  max-width: 922px; }
.modal.modal-vsd.popup-main .size-modal.small-modal {
  max-width: 532px; }
  .modal.modal-vsd.popup-main .size-modal.small-modal .mdl-footer {
    padding-top: 28px;
    padding-bottom: 28px; }
.modal.modal-vsd.popup-main .mdl-header {
  background: #164989;
  padding: 10px 22px 10px 30px; }
  .modal.modal-vsd.popup-main .mdl-header .heading-popup {
    color: #fff;
    font-size: 14px; }
.modal.modal-vsd.popup-main .mdl-main {
  padding: 0 30px; }
  .modal.modal-vsd.popup-main .mdl-main .img-select-profile {
    text-align: center;
    margin: 46px 0 31px; }
    .modal.modal-vsd.popup-main .mdl-main .img-select-profile img {
      width: 264px;
      height: 169px; }
  .modal.modal-vsd.popup-main .mdl-main .txt-choose-pro {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: #164989; }
  .modal.modal-vsd.popup-main .mdl-main .box-select-pro {
    width: 283px;
    height: 40px;
    padding: 11px 13px 11px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #164989;
    border-radius: 30px;
    background: #D2EAFF;
    text-align: left;
    border: none;
    margin-right: 10px;
    margin-bottom: 14px;
    outline: none; }
    .modal.modal-vsd.popup-main .mdl-main .box-select-pro.active {
      color: #fff;
      background: #164989 url("../img/icon-tick-12.svg") no-repeat center right 15px;
      background-size: 15px 15px; }
  .modal.modal-vsd.popup-main .mdl-main .items-select-pro {
    text-align: center; }
.modal.modal-vsd.popup-main .mdl-footer {
  padding: 17px 30px 35px;
  text-align: center; }
  .modal.modal-vsd.popup-main .mdl-footer button {
    margin-left: 0;
    margin-right: 7px; }

.certify-block {
  padding: 28px 0 19px;
  border-bottom: 1px solid #A3A3A3; }

.certify-regis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px; }
  .certify-regis h3 {
    color: #164989;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 0; }
  .certify-regis a {
    width: 89px;
    height: 25px;
    background: #164989;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 30px;
    font-size: 10px;
    padding: 4px 0; }
    .certify-regis a img {
      width: 11px;
      height: 8px;
      margin-right: 4px; }
    .certify-regis a:hover {
      background: #306db9; }

.daysend span {
  margin-right: 21px;
  color: #565656; }

.history-download .txt-history {
  padding: 15px 0 20px;
  color: #000; }
.history-download .item-hs-download {
  margin-bottom: 10px; }
  .history-download .item-hs-download span {
    margin-right: 20px;
    color: #3D3D3D; }

.zone-white-x {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  height: 100%; }

.title-heading {
  margin: 0; }
  .title-heading span {
    display: inline-block;
    padding: 16px 33px;
    font-size: 20px;
    color: #5b5b5b;
    font-weight: 700;
    border-bottom: 2px solid #164989; }

.title-info {
  font-weight: 700;
  color: #164989;
  padding: 16px 33px;
  background: #D2EAFF;
  text-transform: uppercase; }

.pd-33 {
  padding: 0 33px; }

.title-input {
  max-width: 175px;
  width: 100%;
  padding: 0 12px 0 0; }

.content-page-block {
  padding-left: 20px; }

.utiliti-handling {
  padding: 15px 0 20px;
  text-align: right; }
  .utiliti-handling:after {
    content: '';
    display: table;
    clear: both; }

.line-blue {
  width: 100%;
  height: 1px;
  background: #164989;
  margin-bottom: 5px; }

.datepicker-vsd {
  background: #fff url(../img/icon-cacular.svg) no-repeat;
  background-position: center right 12px;
  cursor: pointer; }

.info-item-list {
  position: relative;
  margin: 0 8px; }
  .info-item-list span {
    position: relative; }
    .info-item-list span i {
      width: 8px;
      height: 8px;
      font-size: 9px;
      padding: 3px;
      box-sizing: content-box;
      background: #777;
      color: #fff;
      border-radius: 50%;
      vertical-align: top;
      position: relative;
      z-index: 9; }
    .info-item-list span:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #164989;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: none; }
  .info-item-list:hover span i {
    background: #164989;
    font-size: 13px;
    padding-top: 2px; }
  .info-item-list:hover span:after {
    display: block; }
  .info-item-list:before {
    content: 'Chi tiết';
    color: #fff;
    background: #164989;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    pointer-events: none; }
  .info-item-list:after {
    content: '';
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 5px solid transparent;
    border-top: 5px solid #164989;
    border-left: 5px solid transparent;
    display: none; }
  .info-item-list:hover:before {
    display: block; }
  .info-item-list:hover:after {
    display: block; }

.edit-item-list {
  position: relative;
  margin: 0 8px; }
  .edit-item-list span {
    position: relative; }
    .edit-item-list span i {
      width: 14px;
      height: 14px;
      font-size: 15px;
      box-sizing: content-box;
      color: #777777;
      vertical-align: top;
      position: relative;
      z-index: 9; }
    .edit-item-list span:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #164989;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: none; }
  .edit-item-list:hover span i {
    background: #164989;
    font-size: 13px;
    padding-top: 2px;
    color: #fff; }
  .edit-item-list:hover span:after {
    display: block; }
  .edit-item-list:before {
    content: 'Sửa';
    color: #fff;
    background: #164989;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    pointer-events: none; }
  .edit-item-list:after {
    content: '';
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 5px solid transparent;
    border-top: 5px solid #164989;
    border-left: 5px solid transparent;
    display: none; }
  .edit-item-list:hover:before {
    display: block; }
  .edit-item-list:hover:after {
    display: block; }

.delete-item-list {
  position: relative;
  margin: 0 8px; }
  .delete-item-list span {
    position: relative; }
    .delete-item-list span i {
      width: 14px;
      height: 14px;
      font-size: 15px;
      box-sizing: content-box;
      color: #777777;
      vertical-align: top;
      position: relative;
      z-index: 9; }
    .delete-item-list span:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #164989;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: none; }
  .delete-item-list:hover span i {
    background: #164989;
    font-size: 13px;
    padding-top: 2px;
    color: #fff; }
  .delete-item-list:hover span:after {
    display: block; }
  .delete-item-list:before {
    content: 'Xóa';
    color: #fff;
    background: #164989;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    pointer-events: none; }
  .delete-item-list:after {
    content: '';
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 5px solid transparent;
    border-top: 5px solid #164989;
    border-left: 5px solid transparent;
    display: none; }
  .delete-item-list:hover:before {
    display: block; }
  .delete-item-list:hover:after {
    display: block; }

.download-item-list {
  position: relative;
  margin: 0 8px; }
  .download-item-list span {
    position: relative; }
    .download-item-list span i {
      width: 14px;
      height: 14px;
      font-size: 15px;
      box-sizing: content-box;
      color: #777777;
      vertical-align: top;
      position: relative;
      z-index: 9; }
    .download-item-list span:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #164989;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: none; }
  .download-item-list:hover span i {
    background: #164989;
    font-size: 13px;
    padding-top: 2px;
    color: #fff; }
  .download-item-list:hover span:after {
    display: block; }
  .download-item-list:before {
    content: 'Tải xuống';
    color: #fff;
    background: #164989;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    pointer-events: none; }
  .download-item-list:after {
    content: '';
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 5px solid transparent;
    border-top: 5px solid #164989;
    border-left: 5px solid transparent;
    display: none; }
  .download-item-list:hover:before {
    display: block; }
  .download-item-list:hover:after {
    display: block; }

.set-item-list {
  position: relative;
  margin: 0 8px; }
  .set-item-list span {
    position: relative; }
    .set-item-list span i {
      width: 14px;
      height: 14px;
      font-size: 15px;
      box-sizing: content-box;
      color: #777777;
      vertical-align: top;
      position: relative;
      z-index: 9; }
    .set-item-list span:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #164989;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: none; }
  .set-item-list:hover span i {
    background: #164989;
    font-size: 13px;
    padding-top: 2px;
    color: #fff; }
  .set-item-list:hover span:after {
    display: block; }
  .set-item-list:before {
    content: 'Cài đặt';
    color: #fff;
    background: #164989;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    pointer-events: none; }
  .set-item-list:after {
    content: '';
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 5px solid transparent;
    border-top: 5px solid #164989;
    border-left: 5px solid transparent;
    display: none; }
  .set-item-list:hover:before {
    display: block; }
  .set-item-list:hover:after {
    display: block; }

.list-item-main {
  position: relative;
  margin: 0 8px; }
  .list-item-main span {
    position: relative;
    width: 16px;
    height: 13px; }
    .list-item-main span img {
      width: 16px;
      height: 13px; }
    .list-item-main span .imgafter-hv {
      display: none; }
    .list-item-main span:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-58%, -50%);
      background: #164989;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: none; }
  .list-item-main:hover span i {
    background: #164989;
    font-size: 13px;
    padding-top: 2px;
    color: #fff; }
  .list-item-main:hover span:after {
    display: block; }
  .list-item-main:hover span .imgafter-hv {
    display: inline;
    position: relative;
    z-index: 9; }
  .list-item-main:hover span .imgbefore-hv {
    display: none; }
  .list-item-main:before {
    content: 'Danh sách';
    color: #fff;
    background: #164989;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    pointer-events: none; }
  .list-item-main:after {
    content: '';
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 5px solid transparent;
    border-top: 5px solid #164989;
    border-left: 5px solid transparent;
    display: none; }
  .list-item-main:hover:before {
    display: block; }
  .list-item-main:hover:after {
    display: block; }

.reset-item-list {
  position: relative;
  margin: 0 8px; }
  .reset-item-list span {
    position: relative;
    width: 15px;
    height: 14px; }
    .reset-item-list span img {
      width: 15px;
      height: 14px; }
    .reset-item-list span .imgafter-hv {
      display: none; }
    .reset-item-list span:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #164989;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      display: none; }
  .reset-item-list:hover span i {
    background: #164989;
    font-size: 13px;
    padding-top: 2px;
    color: #fff; }
  .reset-item-list:hover span:after {
    display: block; }
  .reset-item-list:hover span .imgafter-hv {
    display: inline;
    position: relative;
    z-index: 9; }
  .reset-item-list:hover span .imgbefore-hv {
    display: none; }
  .reset-item-list:before {
    content: 'Đặt lại mật khẩu';
    color: #fff;
    background: #164989;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    pointer-events: none; }
  .reset-item-list:after {
    content: '';
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 5px solid transparent;
    border-top: 5px solid #164989;
    border-left: 5px solid transparent;
    display: none; }
  .reset-item-list:hover:before {
    display: block; }
  .reset-item-list:hover:after {
    display: block; }

.pd-20 {
  padding: 0 20px; }

#d_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0 27px; }
  #d_page #d_total_rec {
    color: #A3A3A3; }
  #d_page #d_number_of_page li {
    display: inline-block;
    cursor: pointer;
    margin-left: 4px; }
    #d_page #d_number_of_page li span {
      width: 23px;
      height: 23px;
      text-align: center;
      line-height: 23px;
      border-radius: 50%;
      display: inline-block;
      color: #A3A3A3; }
      #d_page #d_number_of_page li span.a-active {
        background: #164989;
        color: #fff; }
    #d_page #d_number_of_page li:hover span {
      background: #164989;
      color: #fff; }

.loader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 99999999999999; }

.loader {
  position: fixed;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px; }

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #164989; }

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #F89520; }

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #6EC5EE; }

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }
.txt-namepro {
  text-transform: uppercase; }
  .txt-namepro:hover {
    color: #164989;
    text-decoration: underline; }

.container-login {
  max-width: 1140px;
  padding: 0 5px;
  width: 100%;
  margin: 0 auto; }

.row-login {
  margin: 0 35px; }

.row-vsd {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }

.row-vsd-13 {
  margin: 0 -13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc13-6 {
  padding: 0 13px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 70px; }
  @media only screen and (max-width: 1199px) {
    .col-pc13-6 {
      margin-bottom: 50px; } }
  @media only screen and (max-width: 767px) {
    .col-pc13-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px; } }

.row-foot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .row-form.change-location {
    align-items: end; }
    .row-form.change-location .title-input {
      padding-top: 9px; }

.col-vsd-75 {
  padding: 0 6px;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  transition: all 0.3s;
  margin-bottom: 12px; }
  .col-vsd-75.change-width {
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    max-width: 95%;
    transition: all 0.3s; }

.col-vsd-100 {
  padding: 0 26px 0 6px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  margin-bottom: 12px; }

.col-vsd-25 {
  padding: 0 6px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  transition: all 0.3s;
  margin-bottom: 12px; }
  .col-vsd-25.change-width {
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
    transition: all 0.3s; }

.row-vsd-differ {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (max-width: 1600px) {
  .col-ct-1600 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }
ul.list-child-guide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -29px; }

ul.list-child-guide li {
  padding: 0 29px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  transition: all 0.3s; }

.header {
  background: #164989;
  position: fixed;
  z-index: 999999;
  max-width: 1920px;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }
  .header .logo-main {
    padding: 11px 17px 15px;
    margin-bottom: 0; }
    @media only screen and (max-width: 991px) {
      .header .logo-main {
        padding: 6px 15px 10px; } }
    .header .logo-main a svg {
      width: 257px;
      height: 45px; }
      @media only screen and (max-width: 991px) {
        .header .logo-main a svg {
          width: 219px; } }

.btn-bars-head {
  display: none; }
  .btn-bars-head button {
    background: transparent;
    border: none;
    padding: 10px 10px;
    outline: none; }
    .btn-bars-head button img {
      width: 20px; }
  @media only screen and (max-width: 991px) {
    .btn-bars-head {
      display: block;
      position: fixed;
      top: 12px;
      right: 15px; } }
  @media only screen and (max-width: 576px) {
    .btn-bars-head {
      right: 5px; } }

.navigation {
  padding: 33px 50px;
  background: #195493;
  width: 308px;
  float: left;
  position: absolute;
  top: 76px;
  left: 0;
  bottom: 0;
  z-index: 9999; }
  @media (max-width: 1920px) {
    .navigation {
      position: fixed; } }
  @media only screen and (min-width: 1200px) and (max-width: 1390px) {
    .navigation {
      padding: 15px 26px; } }
  @media only screen and (max-width: 1199px) {
    .navigation {
      padding: 15px 15px;
      width: 250px; } }
  @media only screen and (max-width: 991px) {
    .navigation {
      top: 66px;
      transition: all 0.4s;
      transform: translateX(-100%);
      visibility: hidden; } }
  @media only screen and (max-width: 576px) {
    .navigation {
      width: 100%; } }
  .navigation.open {
    transform: translateX(0);
    visibility: visible;
    transition: all 0.4s; }

.info-user {
  margin-bottom: 33px;
  text-align: center; }
  @media only screen and (min-width: 1200px) and (max-width: 1390px) {
    .info-user {
      margin-bottom: 11px; } }
  @media only screen and (max-width: 1199px) {
    .info-user {
      margin-bottom: 11px; } }
  @media only screen and (max-width: 576px) {
    .info-user {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-bottom: 15px; }
      .info-user .uti-pass {
        text-align: left; } }
  .info-user .avatar {
    margin-bottom: 15px; }
    @media only screen and (min-width: 1200px) and (max-width: 1390px) {
      .info-user .avatar {
        margin-bottom: 10px; } }
    @media only screen and (max-width: 576px) {
      .info-user .avatar {
        margin-right: 15px;
        margin-bottom: 0; } }
    .info-user .avatar img {
      width: 60px;
      height: 60px;
      border-radius: 50%; }
  .info-user .name-user {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 11px;
    color: #fff; }
  .info-user .change-pass {
    font-size: 12px;
    color: #93D7F9; }

.menu-category .menucate-lv1 > li {
  position: relative; }
  .menu-category .menucate-lv1 > li > a {
    background: #2A6FAD;
    margin-bottom: 5px;
    padding: 12px 18px;
    color: #fff;
    border-radius: 3px;
    display: block;
    font-size: 14px;
    font-weight: 700; }
    .menu-category .menucate-lv1 > li > a:hover {
      background: #58ABDD;
      color: #fff; }
    @media only screen and (min-width: 1200px) and (max-width: 1390px) {
      .menu-category .menucate-lv1 > li > a {
        padding: 9px 18px; } }
    @media only screen and (max-width: 1199px) {
      .menu-category .menucate-lv1 > li > a {
        padding: 9px 18px; } }
  .menu-category .menucate-lv1 > li .menucate-lv2 {
    padding: 19px 5px 8px 31px; }
    @media only screen and (min-width: 1200px) and (max-width: 1390px) {
      .menu-category .menucate-lv1 > li .menucate-lv2 {
        padding: 8px 5px 0 31px; } }
    @media only screen and (max-width: 1199px) {
      .menu-category .menucate-lv1 > li .menucate-lv2 {
        padding: 8px 5px 0 31px; } }
    .menu-category .menucate-lv1 > li .menucate-lv2 li {
      position: relative; }
      .menu-category .menucate-lv1 > li .menucate-lv2 li:after {
        content: '';
        position: absolute;
        top: 5px;
        left: -14px;
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%; }
      .menu-category .menucate-lv1 > li .menucate-lv2 li:hover:after {
        background: #fedf00; }
      .menu-category .menucate-lv1 > li .menucate-lv2 li:hover a {
        color: #fedf00;
        text-decoration: underline; }
      .menu-category .menucate-lv1 > li .menucate-lv2 li span {
        color: #ED1111; }
      .menu-category .menucate-lv1 > li .menucate-lv2 li a {
        color: #fff;
        font-weight: 700;
        padding-bottom: 12px;
        display: block; }
    .menu-category .menucate-lv1 > li .menucate-lv2 li.active-child:after {
      background: #fedf00; }
    .menu-category .menucate-lv1 > li .menucate-lv2 li.active-child a {
      color: #fedf00;
      text-decoration: underline; }
.menu-category .menucate-lv1 > li.active > a {
  background: #58ABDD;
  color: #fff; }
.menu-category .menucate-lv1 > li.hasdrop-cate:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 5px;
  background: url("../img/icon-rotate-down-19.svg");
  top: 17px;
  right: 20px;
  transition: all 0.3s; }
  @media only screen and (min-width: 1200px) and (max-width: 1390px) {
    .menu-category .menucate-lv1 > li.hasdrop-cate:after {
      top: 14px; } }
  @media only screen and (max-width: 1199px) {
    .menu-category .menucate-lv1 > li.hasdrop-cate:after {
      top: 14px; } }
.menu-category .menucate-lv1 > li.hasdrop-cate.active:after {
  content: '';
  background: url("../img/rotate-light-white_2 - dashboard.svg"); }

.hasdrop-cate.rotate-down:after {
  transition: all 0.3s;
  transform: rotate(180deg); }

.menu-left-block {
  position: relative;
  height: 100%; }
  @media only screen and (max-width: 576px) {
    .menu-left-block {
      overflow: auto; } }
  .menu-left-block .btn-logout {
    position: absolute;
    left: 0;
    bottom: 19px;
    z-index: 999;
    width: 100%; }
    @media only screen and (min-width: 1200px) and (max-width: 1390px) {
      .menu-left-block .btn-logout {
        bottom: 0; } }
    @media only screen and (max-width: 1199px) {
      .menu-left-block .btn-logout {
        bottom: 0; } }
    @media only screen and (max-width: 767px) {
      .menu-left-block .btn-logout {
        position: unset; } }
    .menu-left-block .btn-logout a {
      background: #2A6FAD;
      padding: 12px 18px;
      color: #fff;
      border-radius: 3px;
      display: block;
      font-size: 14px;
      font-weight: 700; }
      .menu-left-block .btn-logout a:hover {
        background: #58ABDD; }
      @media only screen and (min-width: 1200px) and (max-width: 1390px) {
        .menu-left-block .btn-logout a {
          padding: 9px 18px; } }
      @media only screen and (max-width: 1199px) {
        .menu-left-block .btn-logout a {
          padding: 9px 18px; } }

.login-main {
  position: relative;
  background: url("../img/bg-login.png") no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 52px; }
  @media (max-width: 1390px) {
    .login-main {
      padding-top: 10px; } }
  .login-main .login-block {
    width: 411px;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.26);
    background: #164989;
    padding: 58px 39px; }
    @media (max-width: 1390px) {
      .login-main .login-block {
        padding: 25px 30px; } }
    .login-main .login-block .logo {
      margin-top: 0px;
      margin-bottom: 36px; }
      .login-main .login-block .logo img {
        width: 101px;
        height: 82px; }
    .login-main .login-block .slogan-vi {
      font-size: 11px;
      line-height: 13px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 3px; }
    .login-main .login-block .slogan-en {
      font-size: 11px;
      line-height: 13px;
      margin-bottom: 43px;
      text-transform: uppercase;
      color: #fff; }
      @media (max-width: 1390px) {
        .login-main .login-block .slogan-en {
          margin-bottom: 30px; } }
    .login-main .login-block .form-login .title-login {
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      margin-bottom: 27px; }
      @media (max-width: 1390px) {
        .login-main .login-block .form-login .title-login {
          margin-bottom: 20px; } }
    .login-main .login-block .form-login .styled-input .form-enter-acc:focus ~ label, .login-main .login-block .form-login .styled-input .form-enter-acc:valid ~ label {
      font-size: 12px;
      color: #2C485B;
      top: 7px;
      transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1); }
    .login-main .login-block .form-login .styled-input {
      margin-bottom: 11px;
      position: relative; }
      .login-main .login-block .form-login .styled-input .form-enter-acc {
        background: #fff;
        height: 57px;
        line-height: 57px;
        font-size: 14px;
        color: #1a1a1a;
        border-radius: 4px;
        width: 100%;
        border: none;
        padding: 29px 24px 13px; }
        .login-main .login-block .form-login .styled-input .form-enter-acc ~ span {
          display: block;
          width: 0;
          height: 3px;
          background: #FAB019;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1); }
        .login-main .login-block .form-login .styled-input .form-enter-acc:focus ~ span {
          width: 100%;
          transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1); }
      .login-main .login-block .form-login .styled-input label {
        position: absolute;
        top: 21px;
        left: 24px;
        color: #2C485B;
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        pointer-events: none; }
    .login-main .login-block .form-login .capcha {
      height: 57px;
      margin-bottom: 11px;
      background: #fff; }
    .login-main .login-block .form-login .btn-login {
      font-size: 14px;
      line-height: 16px;
      background: #FAB019;
      font-weight: 700;
      color: #fff;
      border-radius: 4px;
      margin-bottom: 30px;
      height: 57px;
      transition: all 0.3s; }
      .login-main .login-block .form-login .btn-login:hover {
        background: #efcb81;
        transition: all 0.3s; }
    .login-main .login-block .form-login .forgot-password {
      display: inline-block;
      color: #fff;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 134px; }
      @media (max-width: 1390px) {
        .login-main .login-block .form-login .forgot-password {
          margin-bottom: 35px; } }
      .login-main .login-block .form-login .forgot-password:hover {
        text-decoration: underline; }
    .login-main .login-block .form-login .capcha, .login-main .login-block .form-login .btn-login, .login-main .login-block .form-login .forgot-password {
      position: relative;
      z-index: 10; }
  .login-main .news {
    width: 607px;
    padding-top: 94px;
    position: relative;
    z-index: 10; }
    @media (max-width: 1390px) {
      .login-main .news {
        padding-top: 25px; } }
    .login-main .news .items-news .title-news {
      margin-bottom: 38px; }
      .login-main .news .items-news .title-news a {
        color: #fff;
        font-size: 33px;
        line-height: 39px;
        font-weight: 700;
        display: block; }
        .login-main .news .items-news .title-news a:hover {
          color: #fab019; }
    .login-main .news .items-news .time-update {
      color: #fff;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 27px; }
    .login-main .news .items-news .box-img {
      position: relative;
      box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.59); }
      .login-main .news .items-news .box-img:before {
        content: '';
        display: block;
        padding-bottom: 55%; }
      .login-main .news .items-news .box-img img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; }
  .login-main .foot-login {
    color: #fff;
    font-size: 11px;
    position: absolute;
    bottom: 34px;
    width: 100%;
    z-index: 10; }
    @media (max-width: 1390px) {
      .login-main .foot-login {
        bottom: 23px; } }
    .login-main .foot-login .copyright {
      color: #fff;
      line-height: 13px; }
      @media (max-width: 1390px) {
        .login-main .foot-login .copyright {
          padding-left: 30px; } }
    .login-main .foot-login .connect-social a {
      color: #fff;
      margin-left: 20px; }
      .login-main .foot-login .connect-social a:hover {
        color: #fab019; }
  .login-main .bg-bot-login {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    @media (max-width: 1390px) {
      .login-main .bg-bot-login {
        display: none; } }

.bread-crumb {
  padding: 24px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 767px) {
    .bread-crumb {
      display: none; } }
  .bread-crumb.bread-crumb-dashboard {
    padding: 24px 50px; }
    @media only screen and (max-width: 1199px) {
      .bread-crumb.bread-crumb-dashboard {
        padding: 24px 20px; } }
    @media only screen and (max-width: 991px) {
      .bread-crumb.bread-crumb-dashboard {
        padding: 20px; } }
    @media only screen and (max-width: 767px) {
      .bread-crumb.bread-crumb-dashboard {
        padding: 15px; } }
  .bread-crumb .bread-morni span {
    font-size: 13px; }
    .bread-crumb .bread-morni span img {
      width: 18px;
      height: 14px;
      vertical-align: text-top;
      margin-right: 16px; }
    .bread-crumb .bread-morni span .bread-light {
      display: none; }
    .bread-crumb .bread-morni span a:hover {
      color: #164989;
      text-decoration: underline; }
  .bread-crumb .bread-morni .caret-right {
    padding: 0 14px; }
    .bread-crumb .bread-morni .caret-right i {
      color: #3D3D3D; }
    .bread-crumb .bread-morni .caret-right:last-child {
      color: #164989; }
  .bread-crumb .bread-morni .caret-right:last-child i {
    color: #164989; }
  .bread-crumb .bread-morni span:first-child .bread-light {
    display: none; }
  .bread-crumb .bread-morni span:last-child a {
    color: #164989; }
  .bread-crumb .bread-morni span:last-child .bread-dark {
    display: none; }
  .bread-crumb .bread-morni span:last-child .bread-light {
    display: inline-block; }

.content-main-wrap {
  width: calc(100% - 308px);
  float: right; }
  @media only screen and (max-width: 1199px) {
    .content-main-wrap {
      width: calc(100% - 250px); } }
  @media only screen and (max-width: 991px) {
    .content-main-wrap {
      width: 100%; } }

.content-block {
  padding: 0 50px; }
  @media only screen and (max-width: 1199px) {
    .content-block {
      padding: 0 20px; } }
  @media only screen and (max-width: 576px) {
    .content-block {
      padding: 0 15px; } }

.resumes-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  background: #D2EAFF; }
  @media only screen and (max-width: 1199px) {
    .resumes-submit {
      padding: 20px 15px; } }

.profile-block {
  padding: 12px 24px;
  border-bottom: 1px solid #dedede; }
  @media only screen and (max-width: 1199px) {
    .profile-block {
      padding: 12px 15px; } }

.items-profile {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 576px) {
    .items-profile {
      display: block; } }
  .items-profile .date-take-end .date-take {
    margin-right: 45px;
    display: inline-block; }
    .items-profile .date-take-end .date-take .txt-date-main {
      color: #969696;
      margin-right: 10px;
      font-size: 12px; }
    .items-profile .date-take-end .date-take span {
      color: #232323; }
  .items-profile .state-profile-block span {
    font-size: 12px;
    margin-right: 15px; }
  .items-profile .state-profile-block .state-profile {
    font-size: 13px;
    margin-right: 0;
    width: 82px;
    display: inline-block; }

.state-declined {
  background: #EDF5F8; }
  .state-declined .title-profile a {
    color: #912020; }
    .state-declined .title-profile a:hover {
      text-decoration: underline; }
  .state-declined .state-profile {
    color: #912020; }

.state-comfirmed {
  background: #EDF5F8; }
  .state-comfirmed .title-profile a {
    color: #319925; }
    .state-comfirmed .title-profile a:hover {
      text-decoration: underline; }
  .state-comfirmed .state-profile {
    color: #319925; }

.state-waitcomfirmed .title-profile a {
  color: #A37400; }
  .state-waitcomfirmed .title-profile a:hover {
    text-decoration: underline; }
.state-waitcomfirmed .state-profile {
  color: #A37400; }

.pro-sentback-block {
  padding: 12px 15px 10px;
  border-bottom: 1px solid #dedede; }
  .pro-sentback-block:last-child {
    border-bottom: none; }
  .pro-sentback-block .title-pro-sentback {
    margin-bottom: 8px;
    font-size: 13px; }
    .pro-sentback-block .title-pro-sentback a {
      color: #232323; }
      .pro-sentback-block .title-pro-sentback a:hover {
        text-decoration: underline;
        color: #164989; }
  .pro-sentback-block .time-sentback {
    color: #969696;
    font-size: 12px; }

.formgroup-vsd {
  margin-bottom: 7px; }

.input-enter {
  width: calc(100% - 175px); }
  .input-enter input {
    width: 100%;
    border: 1px solid #cecece;
    height: 35px;
    padding-left: 16px;
    padding-right: 16px;
    color: #191919;
    border-radius: 3px; }
  .input-enter select {
    width: 100%;
    border: 1px solid #cecece;
    height: 35px;
    padding-left: 12px;
    padding-right: 16px;
    color: #191919;
    border-radius: 3px;
    cursor: pointer; }
  .input-enter textarea {
    width: 100%;
    border: 1px solid #cecece;
    height: 77px;
    padding: 5px 16px;
    color: #191919;
    border-radius: 3px;
    resize: none; }

.txt-info-issuers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0;
  margin-bottom: 11px; }
  .txt-info-issuers h3 {
    color: #164989;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 700; }
  .txt-info-issuers .state-issuers {
    padding: 5px 18px;
    color: #912020;
    background: #FFDCDC;
    border-radius: 30px; }
  .txt-info-issuers .state-confirmed-approve {
    padding: 5px 18px;
    color: #319925;
    background: #E0FFDC;
    border-radius: 30px; }
  .txt-info-issuers .state-waitconfirm-approve {
    padding: 5px 18px;
    color: #a37400;
    background: #f4f0be;
    border-radius: 30px; }
  .txt-info-issuers .state-draf {
    padding: 5px 18px;
    color: #606060;
    background: #eaeaea;
    border-radius: 30px; }

.form-enter-default {
  margin-bottom: 20px; }

.box-diary {
  padding: 20px 30px;
  position: relative;
  overflow: hidden;
  height: 100vh;
  overflow: auto; }

.bars-close {
  position: absolute;
  top: 25px;
  right: 30px; }
  .bars-close img {
    width: 15px;
    height: 11px; }
  .bars-close img.bars-gray {
    display: none; }

.heading-diary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 15px;
  border-bottom: 1px solid #164989;
  margin-bottom: 16px;
  opacity: 1;
  visibility: visible;
  transition: all 0s; }
  .heading-diary .txt-diary {
    font-weight: 700;
    color: #5b5b5b;
    font-size: 16px; }

.content-diary .feedback-admin {
  margin-bottom: 14px; }
  .content-diary .feedback-admin .adminname-send {
    color: #164989;
    font-weight: 700;
    margin-bottom: 11px; }
  .content-diary .feedback-admin .admin-content-fb {
    padding: 10px 9px;
    color: #191919;
    background: #D2EAFF;
    margin-bottom: 9px;
    border-radius: 8px;
    display: inline-block; }
.content-diary .feedback-user {
  text-align: right; }
  .content-diary .feedback-user .username-send {
    color: #A36F14;
    font-weight: 700;
    margin-bottom: 11px; }
  .content-diary .feedback-user .user-content-fb {
    padding: 10px 9px;
    color: #191919;
    background: #F9F0A2;
    margin-bottom: 9px;
    border-radius: 8px;
    text-align: left;
    display: inline-block; }
.content-diary .time-send {
  font-size: 10px;
  color: #606060; }
.content-diary .feedback-user {
  margin-bottom: 14px; }

.col-vsd-25.change-width .diary-activate .content-diary {
  transform: translateX(186px);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden; }
.col-vsd-25.change-width .box-diary {
  padding: 0; }
.col-vsd-25.change-width .heading-diary {
  position: absolute;
  top: 133px;
  left: 50%;
  border-bottom: none;
  transform: translateX(-50%) rotate(90deg);
  width: 150px;
  padding: 0;
  margin: 0;
  transition: all 0s;
  pointer-events: none; }
  .col-vsd-25.change-width .heading-diary .txt-diary {
    color: #606060; }
.col-vsd-25.change-width .heading-diary.change-color .txt-diary {
  color: #164989; }
.col-vsd-25.change-width .bars-close {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding: 21px 16px 168px;
  width: 48px; }
  .col-vsd-25.change-width .bars-close img.bars-gray {
    display: block; }
  .col-vsd-25.change-width .bars-close img.bars-blue {
    display: none; }
  .col-vsd-25.change-width .bars-close:hover img.bars-gray {
    display: none; }
  .col-vsd-25.change-width .bars-close:hover img.bars-blue {
    display: block; }

.upload-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }
  .upload-block.disabled-upload .input-file-container:hover .input-file-trigger img, .upload-block.disabled-upload .input-file-container:focus .input-file-trigger img, .upload-block.disabled-upload .input-file-container:active .input-file-trigger img {
    animation-name: cancel; }
  .upload-block.disabled-upload .input-file-trigger {
    color: #bfbfbf;
    cursor: default; }
  .upload-block.disabled-upload .input-file {
    cursor: default; }
  .upload-block.disabled-upload .txt-up {
    color: #bfbfbf;
    background: #E9E9E9; }
  .upload-block.disabled-upload .input-file:hover + .input-file-trigger,
  .upload-block.disabled-upload .input-file:focus + .input-file-trigger,
  .upload-block.disabled-upload .input-file-trigger:hover,
  .upload-block.disabled-upload .input-file-trigger:focus {
    color: #bfbfbf;
    background: #f6f6f6; }
  .upload-block.disabled-upload .file-return {
    color: #606060;
    background: #EAEAEA;
    padding: 7px 21px; }
  .upload-block.disabled-upload .type-file {
    border: none;
    background: #f6f6f6; }

.type-file {
  width: 272px;
  padding: 15px 28px;
  border: 1px solid #a3a3a3;
  border-radius: 30px;
  display: inline-block;
  margin-right: 9px; }
  @media (max-width: 1800px) {
    .type-file {
      display: block;
      margin-bottom: 10px; } }
  .type-file span {
    color: #606060; }
  .type-file .name-typefile {
    color: #000;
    margin-left: 15px;
    margin-bottom: 0; }

.file-type-profile {
  padding: 25px 0 15px;
  border-top: 1px solid #164989; }
  .file-type-profile .head-type-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; }
    .file-type-profile .head-type-profile h3 {
      font-weight: 700;
      color: #164989;
      font-size: 13px;
      margin-bottom: 0; }
    .file-type-profile .head-type-profile .sample-file span {
      color: #606060;
      margin-right: 5px;
      font-weight: 700; }
    .file-type-profile .head-type-profile .sample-file .name-sample-file {
      font-weight: 700;
      color: #164989; }
      .file-type-profile .head-type-profile .sample-file .name-sample-file:hover {
        text-decoration: underline; }

.block-detail-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px; }

.name-typefile {
  min-width: 146px;
  display: inline-block;
  margin-bottom: 10px; }

.status-confirm {
  width: 102px;
  text-align: center;
  background: #FCCDCD;
  border-radius: 30px;
  position: relative; }
  .status-confirm > span {
    display: block;
    color: #912020;
    padding: 5px 0; }
  .status-confirm .reason-refusal {
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 9px;
    background: #f4f4f4;
    color: #191919;
    font-size: 11px;
    white-space: nowrap;
    display: none; }
    .status-confirm .reason-refusal:after {
      content: '';
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 5px solid #f4f4f4;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent; }
  .status-confirm:hover .reason-refusal {
    display: block; }

.status-waitcomfirm {
  width: 102px;
  text-align: center;
  background: #F4F0BE;
  border-radius: 30px; }
  .status-waitcomfirm > span {
    display: block;
    color: #a37400;
    padding: 5px 0; }

.status-confirmed {
  width: 102px;
  text-align: center;
  background: #E0FFDC;
  border-radius: 30px; }
  .status-confirmed > span {
    display: block;
    color: #319925;
    padding: 5px 0; }

.btn-add-new {
  border: none;
  background: #D2EAFF;
  border-radius: 30px;
  padding: 18px 215px;
  margin-top: 14px;
  outline: none;
  transition: all 0.3s; }
  .btn-add-new:hover {
    background: #a3d0f7;
    transition: all 0.3s; }
  .btn-add-new a img {
    width: 8px;
    height: 8px;
    vertical-align: unset;
    margin-right: 12px; }
  .btn-add-new a span {
    color: #164989; }

.feedback-form-vsd {
  padding: 12px 20px;
  background: #f6f6f6;
  border-radius: 6px; }
  .feedback-form-vsd p {
    color: #000;
    margin-bottom: 5px; }

.left-profile h3 {
  min-width: 280px;
  margin-right: 10px;
  display: inline-block; }
.left-profile .upload-block {
  display: inline-block;
  margin-bottom: 0; }

@media (max-width: 1800px) {
  .file-type-profile .head-type-profile .left-profile h3 {
    margin-bottom: 10px; }

  .file-type-profile .head-type-profile .left-profile .upload-block {
    display: block; }

  .file-type-profile.resize-height .head-type-profile {
    align-items: flex-start; }

  .resize-height .input-file-container {
    display: inline-block; }

  .info-different .upload-block {
    margin-bottom: 25px; } }
.view-data-right {
  width: calc(100% - 175px);
  color: #191919;
  padding: 10px 0;
  border-bottom: 1px solid #a3a3a3; }

.table-data-wrap .tbl-data-block .tbltype-1 {
  width: 100%; }
  .table-data-wrap .tbl-data-block .tbltype-1 thead tr {
    background: #D2EAFF; }
    .table-data-wrap .tbl-data-block .tbltype-1 thead tr th {
      padding: 16px 12px 16px 12px;
      border: 1px solid #cecece;
      color: #164989; }
  .table-data-wrap .tbl-data-block .tbltype-1 tbody tr td {
    padding: 18px 12px 18px 12px;
    border: 1px solid #cecece; }
.table-data-wrap .tbl-data-block .tbltype-2 {
  width: 100%; }
  .table-data-wrap .tbl-data-block .tbltype-2 thead tr th {
    padding: 20px 9px;
    color: #164989;
    background: #D2EAFF;
    border: 1px solid #cecece; }
    .table-data-wrap .tbl-data-block .tbltype-2 thead tr th.th-private {
      padding: 9px 17px 8px; }
  .table-data-wrap .tbl-data-block .tbltype-2 thead tr .th-bl {
    padding: 5px 13px 4px;
    font-size: 11px; }
  .table-data-wrap .tbl-data-block .tbltype-2 thead tr .th-yl {
    padding: 5px 13px 4px;
    font-size: 11px; }
  .table-data-wrap .tbl-data-block .tbltype-2 tbody tr td {
    padding: 19px 9px 18px;
    border: 1px solid #cecece; }
    .table-data-wrap .tbl-data-block .tbltype-2 tbody tr td.td-bl {
      background: #E3FFFF; }
    .table-data-wrap .tbl-data-block .tbltype-2 tbody tr td.td-yl {
      background: #FCFFE5; }
.table-data-wrap .tbl-data-block .report-name {
  color: #164989;
  text-decoration: underline; }
  .table-data-wrap .tbl-data-block .report-name:hover {
    text-decoration: none; }
.table-data-wrap .tbl-data-block .link-main {
  color: #164989;
  text-decoration: underline; }
  .table-data-wrap .tbl-data-block .link-main:hover {
    text-decoration: none; }

.head-title-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0; }
  .head-title-list h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    color: #5B5B5B; }
  .head-title-list .btn-addpro {
    width: 188px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #164989;
    color: #fff;
    transition: all 0.3s; }
    .head-title-list .btn-addpro i {
      margin-right: 7px; }
    .head-title-list .btn-addpro:hover {
      background: #306db9;
      transition: all 0.3s; }

.search-block {
  padding: 17px 0 4px;
  display: flex;
  align-items: center; }
  .search-block .txt-search {
    color: #164989;
    font-size: 14px;
    font-weight: 700;
    margin-right: 50px;
    white-space: nowrap; }

.items-search {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 18px; }
  .items-search .lbl-search {
    margin-bottom: 9px;
    color: #3D3D3D;
    display: block; }
  .items-search input, .items-search select {
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    color: #3D3D3D;
    width: 229px;
    height: 35px; }
  .items-search input {
    padding-left: 10px;
    padding-right: 10px; }
  .items-search select {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer; }

.btn-search-group {
  display: inline-block;
  vertical-align: top; }
  .btn-search-group .btn-search {
    background: #164989;
    color: #fff;
    border-radius: 3px;
    margin-top: 25px;
    height: 35px;
    border: none;
    transition: all 0.3s;
    width: 188px; }
    .btn-search-group .btn-search:hover {
      background: #306db9;
      transition: all 0.3s; }

.title-infoguide {
  padding: 18px 20px; }
  .title-infoguide h3 {
    color: #5B5B5B;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0; }

.list-parent-guide > li {
  position: relative;
  border-bottom: 1px solid #b9d8ff; }
  .list-parent-guide > li:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #164989;
    position: absolute;
    top: 21px;
    left: 20px; }
  .list-parent-guide > li > a {
    padding: 15px 33px;
    background: #D2EAFF;
    color: #164989;
    display: block; }
    .list-parent-guide > li > a.active {
      background: #a3d0f7; }
    .list-parent-guide > li > a:hover {
      background: #a3d0f7; }
  .list-parent-guide > li ul.list-child-guide li:first-child a, .list-parent-guide > li ul.list-child-guide li:nth-child(2) a {
    border-top: none; }
  .list-parent-guide > li ul.list-child-guide li a {
    padding: 12px 0;
    color: #232323;
    display: block;
    border-top: 1px solid #a3a3a3; }
    .list-parent-guide > li ul.list-child-guide li a:hover {
      color: #164989; }

.block-list-guild {
  padding: 12px 33px; }

.footer {
  padding-top: 25px;
  padding-bottom: 13px;
  width: calc(100% - 308px);
  float: right;
  background: #fff;
  position: relative;
  right: 0;
  bottom: 0; }
  @media only screen and (max-width: 1199px) {
    .footer {
      width: calc(100% - 250px); } }
  @media only screen and (max-width: 991px) {
    .footer {
      width: 100%; } }

.logo-bot {
  text-align: center; }
  .logo-bot a img {
    width: 121px;
    height: 78px; }

.title-foot {
  font-size: 14px;
  color: #164989;
  font-weight: 700;
  margin-bottom: 15px; }

.contact {
  display: block;
  margin-bottom: 10px;
  color: #000; }
  .contact svg {
    vertical-align: baseline;
    margin-right: 8px; }
  @media only screen and (max-width: 767px) {
    .contact {
      line-height: 20px; } }

@media (max-width: 1390px) {
  .connect-social {
    padding-right: 30px; } }

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: #164989;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }
  #back-to-top:hover {
    background: #08336b; }

.input-file-container {
  position: relative;
  width: 269px;
  display: inline-block; }
  @media (max-width: 1800px) {
    .input-file-container {
      margin-bottom: 10px;
      display: block; } }

.input-file-trigger {
  padding: 13px 35px;
  background: #f6f6f6;
  color: #164989;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  border: 1px dashed #c6c6c6;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0; }

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 269px;
  opacity: 0;
  padding: 12px 0;
  cursor: pointer; }

.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  background: #f1f1f1;
  color: #164989; }

.file-return {
  margin: 0; }

.file-return:not(:empty) {
  margin-left: 17px;
  color: #164989;
  padding: 7px 27px 7px 21px;
  border-radius: 30px;
  background: #D2EAFF;
  max-width: 290px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  position: relative; }
  @media (max-width: 1800px) {
    .file-return:not(:empty) {
      margin-left: 0;
      display: block; } }

.txt-up {
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  padding: 1px 15px;
  background: #164989;
  border-radius: 30px; }

.input-file-container .input-file-trigger img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 19px;
  height: 14px;
  margin-right: 21px; }

.input-file-container:hover .input-file-trigger img, .input-file-container:focus .input-file-trigger img, .input-file-container:active .input-file-trigger img {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.btn-blue, .btn-light-blue, .btn-red, .btn-green {
  width: 147px;
  height: 33px;
  background: #164989;
  color: #fff;
  margin-left: 7px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s; }

.btn-blue {
  transition: all 0.3s; }
  .btn-blue:hover {
    background: #306db9;
    transition: all 0.3s; }

.btn-light-blue {
  background: #D2EAFF;
  color: #164989;
  transition: all 0.3s; }
  .btn-light-blue:hover {
    background: #a3d0f7;
    transition: all 0.3s; }

.btn-red {
  background: #912020;
  transition: all 0.3s; }
  .btn-red:hover {
    background: #be2d2d;
    transition: all 0.3s; }

.btn-green {
  background: #00940F;
  transition: all 0.3s; }
  .btn-green:hover {
    background: #2bb339;
    transition: all 0.3s; }

.btn-close-upload {
  border: none;
  background: none;
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  position: absolute;
  right: 11px;
  top: 6px; }
  .btn-close-upload img {
    width: 12px;
    height: 12px; }

.file-type-profile.resize-height .head-type-profile {
  margin-bottom: 10px; }

.items-news {
  padding: 30px; }

.owl-carousel .owl-dots {
  bottom: -2px;
  left: 23px; }

/*# sourceMappingURL=main.css.map */
