// ======================================================
// Layout :: Grid
// ======================================================

.container-login{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
}
.row-login{
  margin: 0 35px;
}
.row-vsd{
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-pc-6{
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}
.row-vsd-13{
  margin: 0 -13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-pc13-6{
  padding: 0 13px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 70px;
  @include tablet-horizontal{
    margin-bottom: 50px;
  }
  @include mobile-horizontal{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.row-foot{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
