// ======================================================
// Layout :: Grid
// ======================================================

.container-login{
  max-width: 1140px;
  padding: 0 5px;
  width: 100%;
  margin: 0 auto;
}
.row-login{
  margin: 0 35px;
}
.row-vsd{
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-pc-6{
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}
.row-vsd-13{
  margin: 0 -13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-pc13-6{
  padding: 0 13px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  margin-bottom: 70px;
  @include tablet-horizontal{
    margin-bottom: 50px;
  }
  @include mobile-horizontal{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.row-foot{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  &.change-location{
    align-items: end;
    .title-input{
      padding-top: 9px;
    }
  }
}
.col-vsd-75{
  padding: 0 6px;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  transition: all 0.3s;
  margin-bottom: 12px;
  &.change-width{
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    max-width: 95%;
    transition: all 0.3s;
  }
}
.col-vsd-100{
  padding: 0 26px 0 6px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  margin-bottom: 12px;
}
.col-vsd-25{
  padding: 0 6px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  transition: all 0.3s;
  margin-bottom: 12px;
  &.change-width{
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
    transition: all 0.3s;
  }
}
.row-vsd-differ{
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

