// ======================================================
// Layout :: Header
// ======================================================
.header{
  background: $c-bl;
  .logo-main{
    padding: 11px 17px 15px;
    margin-bottom: 0;
    a{
      svg{
        width: 257px;
        height: 45px;
      }
    }
  }
}