// ======================================================
// Layout :: Navigation
// ======================================================
.navigation{
  padding: 33px 50px;
  background: #195493;
  width: 308px;
  float: left;
  position: absolute;
  top: 76px;
  left: 0;
  bottom: 0;
  z-index: 9999;
  @media (max-width: 1920px) {
    position: fixed;
  }
  @include desktop{
    padding: 15px 26px;
  }
  @include tablet-horizontal{
    padding: 15px 15px;
    width: 250px;
  }
  @include tablet{
    top: 66px;

    transition: all 0.4s;
    transform: translateX(-100%);
    visibility: hidden;
  }
  @include mobile{
    width: 100%;
  }
  &.open{
    transform: translateX(0);
    visibility: visible;
    transition: all 0.4s;
  }
}
.info-user{
  margin-bottom: 33px;
  text-align: center;
  @include desktop{
    margin-bottom: 11px;
  }
  @include tablet-horizontal{
    margin-bottom: 11px;
  }
  @include mobile{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    .uti-pass{
      text-align: left;
    }
  }

  .avatar{
    margin-bottom: 15px;
    @include desktop{
      margin-bottom: 10px;
    }
    @include mobile{
      margin-right: 15px;
      margin-bottom: 0;
    }
    img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  .name-user{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 11px;
    color: $c-wh;
  }
  .change-pass{
    font-size: 12px;
    color: #93D7F9;
  }
}

.menu-category{
  .menucate-lv1{

    >li{
      position: relative;
      >a{
        background: #2A6FAD;
        margin-bottom: 5px;
        padding: 12px 18px;
        color: $c-wh;
        border-radius: 3px;
        display: block;
        font-size: 14px;
        font-weight: 700;
        &:hover{
          background: #58ABDD;
          color: $c-wh;
        }
        @include desktop{
          padding: 9px 18px;
        }
        @include tablet-horizontal{
          padding: 9px 18px;
        }

      }
      .menucate-lv2{
        padding: 19px 5px 8px 31px;
        @include desktop{
          padding: 8px 5px 0 31px;
        }
        @include tablet-horizontal{
          padding: 8px 5px 0 31px;
        }

        li{
          position: relative;
          &:after{
            content: '';
            position: absolute;
            top: 5px;
            left: -14px;
            width: 4px;
            height: 4px;
            background: $c-wh;
            border-radius: 50%;
          }
          &:hover:after{
            background: $c-wh;
          }
          &:hover a{
            color: #58ABDD;
            text-decoration: underline;
          }
          span{
            color: #ED1111;
          }

          a{
            color: $c-wh;
            font-weight: 700;
            padding-bottom: 12px;
            display: block;

          }
        }
        li.active-child{
          &:after{
            background: $c-wh;
          }
          a{
            color: #58ABDD;
            text-decoration: underline;
          }
        }

      }
    }
    >li.active{
      >a{
        background: #58ABDD;
        color: $c-wh;
      }

    }
    >li.hasdrop-cate:after{
      content: '';
      position: absolute;
      width: 8px;
      height: 5px;
      background: url("../img/icon-rotate-down-19.svg");
      top: 17px;
      right: 20px;
      transition: all 0.3s;
      @include desktop{
        top: 14px;
      }
      @include tablet-horizontal{
        top: 14px;
      }

    }
    >li.hasdrop-cate.active:after{
      content: '';
      background: url("../img/rotate-light-white_2 - dashboard.svg");
    }
  }
}
.hasdrop-cate.rotate-down:after{
  transition: all 0.3s;
  transform: rotate(180deg);
}
.menu-left-block{
  position: relative;
  height: 100%;
  @include mobile{
    overflow: auto;
  }
  .btn-logout{
    position: absolute;
    left: 0;
    bottom: 19px;
    z-index: 999;
    width: 100%;
    @include desktop{
      bottom: 0;
    }
    @include tablet-horizontal{
      bottom: 0;
    }
    @include mobile-horizontal{
      position: unset;
    }

    a{
      background: #2A6FAD;
      padding: 12px 18px;
      color: #fff;
      border-radius: 3px;
      display: block;
      font-size: 14px;
      font-weight: 700;
      &:hover{
        background: #58ABDD;
      }
      @include desktop{
        padding: 9px 18px;
      }
      @include tablet-horizontal{
        padding: 9px 18px;
      }

    }
  }
}
