// ======================================================
// Components :: Button
// ======================================================

//css inputupload
.input-file-container {
  position: relative;
  width: 269px;
  display: inline-block;
  @media (max-width: 1800px) {
    margin-bottom: 10px;
    display: block;
  }
}
.input-file-trigger {
  padding: 13px 35px;
  background: #f6f6f6;
  color: $c-bl;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  border: 1px dashed #c6c6c6;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 269px;
  opacity: 0;
  padding: 12px 0;
  cursor: pointer;
}
.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  background: #f1f1f1;
  color: $c-bl;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin-left: 17px;
  display: inline-block;
  color: $c-bl;
  padding: 7px 11px 7px 21px;
  border-radius: 30px;
  background: $c-lb;
  @media (max-width: 1800px) {
    margin-left: 0;
  }
  //max-width: 312px;
  //overflow: hidden;
  //white-space: nowrap;
  //text-overflow: ellipsis;
}
//.file-return:not(:empty):before {
//  content: "Selected file: ";
//  font-style: normal;
//  font-weight: normal;
//}
.txt-up{
  color: $c-wh;
  font-weight: 700;
  font-size: 10px;
  padding: 1px 15px;
  background: $c-bl;
  border-radius: 30px;
}
.input-file-container .input-file-trigger img{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 19px;
  height: 14px;
  margin-right: 21px;
}
.input-file-container:hover .input-file-trigger img,.input-file-container:focus .input-file-trigger img,.input-file-container:active .input-file-trigger img{
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


//css button
.btn-blue,.btn-light-blue,.btn-red,.btn-green{
  width: 147px;
  height: 33px;
  background: $c-bl;
  color: $c-wh;
  margin-left: 7px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
}
.btn-blue{
  transition: all 0.3s;
  &:hover{
    background: #306db9;
    transition: all 0.3s;
  }
}
.btn-light-blue{
  background: #D2EAFF;
  color: $c-bl;
  transition: all 0.3s;
  &:hover{
    background: #a3d0f7;
    transition: all 0.3s;
  }
}
.btn-red{
  background: #912020;
  transition: all 0.3s;
  &:hover{
    background: #be2d2d;
    transition: all 0.3s;
  }
}
.btn-green{
  background: #00940F;
  transition: all 0.3s;
  &:hover{
    background: #2bb339;
    transition: all 0.3s;
  }
}

.btn-close-upload{
  border: none;
  background: none;
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  img{
    width: 12px;
    height: 12px;
  }
}

.file-type-profile.resize-height{
  .head-type-profile{
    margin-bottom: 10px;
  }
}