// ======================================================
// Components :: Slider
// ======================================================\

//.owl-item {
//  margin: -30px;
//}
.items-news {
  padding: 30px;
}
.owl-carousel .owl-dots{
  bottom: -2px;
  left: 23px;
}